<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>header</title>
    </head>
    <body>
        <header class="username-info">
            <button type="button">&lt;</button>
            <address class="username-address">
                <a href="users/username-1/username-1.html" class="username-anchor">
                    <img src="users/username-1/username-1.png" alt="username-1-avatar">
                    <p>username</p>
                </a>
            </address>
            <button type="button">...</button>
        </header>
    </body>
</html>
