.username-info {
    display: grid;
    grid-template-columns: 6fr 86fr 8fr;
    border: solid 1px;
    overflow: hidden;
}

.username-anchor {
    display: grid;
    grid-template-columns: 1fr 22fr;
    padding: 0px;
    margin: 0px;
}

.username-anchor img {
    height: 64px;
}

.username-anchor p {
    padding: 0px;
}