* {
    box-sizing: border-box;
    margin: 0px;
    color: #0D0D0D;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    background-color: #1F303D;
}

.novisual {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    padding: 0 !important;
    clip-path: inset(50%) !important;
    overflow: hidden !important;
    white-space: nowrap !important;
}

.chat-page {
    background-color: #1F303D;
}

/* Header---------------------------------- */

.chat-header {
    background-color: #222e3c;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    width: 100%;
    align-items: center;
    overflow: hidden;
    height: 64px;
    background-color: inherit;
    border-bottom: solid #141b27;
    color: aliceblue;
}

.chat-header a {
    display: grid;
    grid-template-columns: 1fr 22fr;
    padding: 0px;
    align-items: center;
    justify-content: center;
    margin: 0px;
    background-color: inherit;
    text-decoration: none;
    font-style: normal;
    background-color: inherit;
}

.chat-header img {
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    width: 40px;
    background-color: inherit;
    border-radius: 100%;
}

header {
    width: 100% !important;
}

.p-in-address {
    /* margin-top: 6px; */
    font-size: 11px;
    color: aliceblue;
    /* margin-bottom:5 px; */
}

.svg-in-button {
    width: 34px;
    height: 24px;
    margin-right: 2px;
}

@media only screen and (min-width: 601px) {
    .chat-header a>img {
        height: 50px;
        width: 50px;
    }
    .chat-header a {
        display: grid;
        grid-template-columns: 6fr 86fr 8fr;
    }
    .p-in-address {
        /* margin-top: 6px; */
        font-size: 14px;
        /* margin-bottom:5 px; */
        margin-right: 0px;
    }
    button svg {
        margin-top: 5px;
    }
    .svg-in-button {
        margin-top: 5px;
        margin-right: 4px;
    }
    /* .chat-header{
        min-width: 100vh;
    } */
}

.chat-header button {
    background-color: #1d2633;
    border: none;
    background-color: inherit;
}

.chat-header p {
    padding: 0px;
    font-size: 16px;
    margin-right: auto;
    /* margin-top: 20px; */
    color: aliceblue;
}

button svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: 7px;
    fill: aliceblue;
}

header svg {
    margin-left: 10px;
}

/* button svg:nth-of-type(2){visibility: hidden !important;} */

/* #l{margin-right: 0px;
margin-left: auto;
align-self: flex-end;
margin-right: 100px;}
 */

.svg-in-button {
    justify-self: right;
    transform: rotate(90deg);
}

/* Input---------------------------------- */

.chat-form {
    margin-top: 32px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: 82fr 6fr 6fr 6fr;
    min-height: 32px;
}

.chat-form button {
    max-width: 6vw;
    padding: 0;
    overflow: hidden;
    font-size: 6px;
    background-color: #1d2633;
    margin: 0px;
    border: none;
    border-left: #1a2120 solid;
    color: aliceblue;
}

@media only screen and (min-width: 601px) {
    .chat-form button {
        font-size: 10px;
    }
    button svg {
        width: 40px;
        height: 50px;
    }
}

.chat-form textarea {
    resize: none;
    min-width: 30%;
    background-color: #1d2633;
    border: none;
    color: aliceblue;
}

/* Message------------------------------ */

.chat-message {
    min-width: 30%;
    width: 65%;
    height: min-content;
    display: grid;
    border: 0px;
    border-radius: 8px;
    grid-template-rows: 2fr none 1fr;
    grid-template-columns: 1fr;
    overflow: hidden;
    margin-bottom: 15px;
    margin-left: 10px;
    background-color: #9196A1;
}

.chat-message img {
    height: 24px;
    width: 24px;
    border: solid gray 0.1px;
    border-radius: 100%;
    margin: 3px;
    background-color: inherit;
}

@media only screen and (min-width: 601px) {
    .chat-message img {
        width: 32px;
        height: 32px;
    }
    .chat-message p {
        /* ------- */
    }
    .chat-message {
        width: 50%;
        margin-bottom: 30px;
    }
}

.chat-message p {
    font-size: 14px;
    margin: 5px;
    background-color: inherit;
}

.chat-message time {
    grid-column-end: auto;
    font-size: x-small;
    margin-left: auto;
    margin-right: 5px;
    background-color: inherit;
}

.chat-message address {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: inherit;
}

.chat-message a, .chat-message-2 a {
    background-color: inherit;
}

/* Right Messgae--------------------- */

.chat-message-2 {
    min-width: 30%;
    width: 65%;
    height: min-content;
    display: grid;
    border: solid;
    border: 0px;
    border-radius: 8px;
    margin-left: auto;
    grid-template-rows: 2fr none 1fr;
    grid-template-columns: 1fr;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 15px;
    background-color: #4E77A6;
}

.chat-message-2 img {
    height: 24px;
    width: 24px;
    border: solid gray 0.1px;
    border-radius: 100%;
    margin: 3px;
}

@media only screen and (min-width: 601px) {
    .chat-message-2 img {
        width: 32px;
        height: 32px;
    }
    .chat-message-2 p {
        font-size: 16px;
    }
    .chat-message-2 {
        width: 50%;
        margin-bottom: 30x;
    }
}

.chat-message-2 p {
    margin: 5px;
    background-color: inherit;
    font-size: 14px;
}

.chat-message-2 address {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: inherit;
}

.chat-message-2 time {
    grid-column-end: auto;
    font-size: x-small;
    margin-left: auto;
    margin-right: 5px;
    background-color: inherit;
}

/* General---------------------------------- */

.bottom-x {
    padding: 40px;
}

.top-x {
    height: 35px;
    padding: 5px;
}

@media only screen and (min-width: 601px) {
    .top-x {
        height: 15px;
        padding: 10px;
    }
}