* {
    box-sizing: border-box;
    margin: 0px;
}


.entire-page-1 {
    width: calc(100vw- 1px);
    height: calc(100vh - 1px);
    display: grid;
    grid-template-rows: 10fr 84fr 6fr;
}

.username-info {
    background-color: aliceblue;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: 6fr 86fr 8fr;
    border: solid 1px;
    overflow: hidden;
}

.username-info a {
    display: grid;
    grid-template-columns: 1fr 22fr;
    padding: 0px;
    margin: 0px;
}

.username-info img {
    height: 64px;
}

.username-info h1 {
    padding: 0px;
    font-size: 16px;
    margin-right:auto ;
}
.visually-hidden{  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  padding: 0 !important;
  clip-path: inset(50%) !important;
  overflow: hidden !important;
  white-space: nowrap !important;}


.messaging-1 label{
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    padding: 0 !important;
    clip-path: inset(50%) !important;
    overflow: hidden !important;
    white-space: nowrap !important;
}

.messaging-1 button {
    max-width: 6vw;
    padding: 0;
    overflow:  hidden;
    font-size: 10px;
}
.messaging-1 {
    margin-top: 32px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: 82fr 6fr 6fr 6fr;
    border: solid 1px;
    min-height: 32px;

}
@media only screen and (max-width: 600px) {
    .messaging-1 button {
        font-size: 6px;
    }
  }

.messaging-1 textarea {
    resize: none;
    min-width: 30%;
}
.messaging-body-1 {
    min-width: 30%;
    width: 30%;
    height: min-content;
    display: grid;
    border: solid;
    border-radius: 4px;
    grid-template-rows: 2fr none 1fr;
    grid-template-columns: 1fr;
    overflow: hidden;
    margin-bottom: 50px;
    margin-left: 10px;
}
@media only screen and (max-width: 600px) {
    .messaging-body-1 {
        width: 40%;
    }
  }

.messaging-body-1 img {

    height: 64px;
    border: solid black;
    border-radius: 100%;
    margin: 3px;
}
@media only screen and (max-width: 600px) {
    .messaging-body-1 img {
        width: 32px;height: 32;
    }
  }

.messaging-body-1 p {
    margin: 5px;
}

.messaging-body-1 time {
    grid-column-end: auto;
    font-size: x-small;
    margin-left: auto;
}
.messaging-body-2 {
    min-width: 30%;
    width: 30%;
    height: min-content;
    display: grid;
    border: solid;
    margin-left: auto;
    grid-template-rows: 2fr none 1fr;
    grid-template-columns: 1fr;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 50px;
}
@media only screen and (max-width: 600px) {
    .messaging-body-2 {
        width: 40%;
    }
  }

.messaging-body-2 img {
    height: 64px;
    border: solid black;
    border-radius: 100%;
    margin: 3px;
}
@media only screen and (max-width: 600px) {
    .messaging-body-2 img {
        width: 32px;height: 32px;
    }
  }


.messaging-body-2 p {
    margin: 5px;
}

.messaging-body-2 time {
    grid-column-end: auto;
    font-size: x-small;
    margin-left: auto;
}

.middle-part{border: solid blue;}

#i{padding: 50px;}