<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <article class="messaging-1">
            <label for="textarea">enter your message to send</label>
            <textarea
                name="textarea"
                id="textarea"
                class="message"
                placeholder="enter message"
            ></textarea>
            <button class="btn" type="submit" id="submit">send</button>
            <button class="btn" type="button" id="attach">attach</button>
            <button class="btn" type="button" id="record">record</button>
        </article>
    </body>
</html>
