<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>messgaing-1</title>
    </head>
    <body>
        <article id="#1" class="messging-body-1">
            <address class="messaging-avatar-1">
                <a href="users/username-1/username-1.html">
                    <img src="users/username-1/username-1.png" alt="username-1">
                </a>
            </address>
            <p class="messaging-text-1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum iste culpa, in itaque blanditiis ex totamasperiores aliquid!</p>
            <time pubdate class="messaging-time-1">12:30</time>
        </article>
    </body>
</html>
