.messging-body-1 {
    min-width: 30%;
    width: 30%;
    display: grid;
    border: solid;
    grid-template-rows: 2fr none 1fr;
    grid-template-columns: 1fr;
    overflow: hidden;
}

.messging-body-1 img {
    height: 64px;
    border: solid black;
    border-radius: 100%;
}

.messaging-text-1 {
    margin: 5px;
}

.messaging-time-1 {
    grid-column-end: auto;
    font-size: x-small;
    margin-left: auto;
}