/* Message------------------------------ */

.chat-message {
    min-width: 20%;
    width: min-content;
    height: min-content;
    max-width: 60%;
    display: grid;
    border: 0px;
    border-radius: 8px;
    grid-template-rows: 2fr none 1fr;
    grid-template-columns: 1fr;
    overflow: hidden;
    margin-bottom: 15px;
}

.chat-message[data-state="other"] {
    padding-right: 10px;
    margin-left: 6px;
    background-color: #9196A1;
}

.chat-message[data-state="self"] {
    padding-left: 10px;
    margin-left: auto;
    margin-right: 6px;
    background-color: #4E77A6;
}

.chat-message address img {
    height: 24px;
    width: 24px;
    border: solid gray 0.1px;
    border-radius: 100%;
    margin: 3px;
    background-color: inherit;
}

.chat-message address>p {
    text-decoration: none;
    font-style: normal;
    font-size: 11px;
    margin: 5px;
    background-color: inherit;
}

.chat-message>p {
    font-size: 14px;
    margin: 5px;
    background-color: inherit;
}

.chat-message>time {
    grid-column-end: auto;
    font-size: x-small;
    margin-left: auto;
    margin-right: 5px;
    background-color: inherit;
}

.chat-message>address {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: inherit;
}

.chat-message address>a {
    background-color: inherit;
}

@media only screen and (min-width: 601px) {
    .chat-message address img {
        width: 32px;
        height: 32px;
    }
    .chat-message {
        max-width: 50%;
        margin-bottom: 25px;
    }
    .chat-message p {
        font-size: 16px;
    }
    .chat-message address>p {
        font-size: 12px;
    }
    .chat-message[data-state="self"] {
        margin-right: 10px;
    }
    .chat-message[data-state="other"] {
        margin-left: 10px;
    }
}